.sidebar-nav {
    margin-top: 80px;
    padding-left: 20px;
    padding-top: 30px;
}

body{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20pt;
}

h3 a{
    padding-top: 20px;
    padding-bottom: 20px;
}

.text {
    font-size: 20pt;
    text-align: center;
    word-wrap: break-word;
    width: 100px;
}