{% extends "base.html" %}
{% block content %}
<!-- Header -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <p class = "headertxt">약품의 복용법과 성분을 확인해보세요</p>
            </div>
        </div>
    </div>
</header>

<!-- About services -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <h3>제품명: {{ drug.name }}</h3>
                            <p><strong>회사: </strong>{{ drug.company }}</p>
                            <p><strong>효능: </strong>{{ drug.effect }}</p>
                            <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
                            <input class="btn btn-block btn-lg btn-primary" onclick="responsiveVoice.speak('{{ drug.effect }}', 'Korean Female');" type='button' value='효능 듣기 🔊'/>
                            <br>
                            <p><strong>용법: </strong>{{ drug.use }}</p>
                            <input class="btn btn-block btn-lg btn-primary" onclick="responsiveVoice.speak('{{ drug.use }}', 'Korean Female');" type='button' value='용법 듣기 🔊'/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../static/img/pills.jpg');"></div>
        </div>
    </div>
</section>
{% endblock %}
