{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <p class = "headertxt"> 모두가 보는 것에서 자유로워질 수 있도록</p>
          <p class = "headertxt"> 삐-약이 복용법과 성분을 목소리로 알려드릴게요</p>
        </div>
      </div>
    </div>
  </header>

  <!-- About services -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../static/img/look.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>삐-약은 어떤 서비스인가요?</h2>
          &nbsp
          <p class="lead mb-0">약 겉면에 적힌 작은 글씨를 보기 힘든 분들을 위해,</p>
          <p class="lead mb-0">원하는 약의 성분을 찾아보고 싶은 분들을 위해,</p>
          <p class="lead mb-0">클릭 한 번으로 약의 복용법과 성분을 들려드릴게요</p>
          &nbsp
          <p class="lead mb-0">삐-! 약 제대로 알고 드세요 </p>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('../../static/img/drug.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>약 복용법을 읽기 힘드신가요?</h2>
          &nbsp
          <p class="lead mb-0">약 겉면에 적힌 글씨들은 너무 작기만 합니다.</p>
          <p class="lead mb-0">잘 보이지 않아도 이제 힘들어하지 마세요</p>
          <p class="lead mb-0">언제 어디서나 오직 사진 한장으로</p>
          <p class="lead mb-0">삐-약이 약의 성분과 복용법을 들려드릴게요.</p>
          &nbsp
          <button type="button" class="btn btn-block btn-lg btn-primary" onClick="location.href='../search-img'" >사진찍기!</button>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/img/search_drug.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>어떤 약인지 궁금하신가요?</h2>
          &nbsp
          <p class="lead mb-0">검색창에 이름을 입력만 해주세요</p>
          <p class="lead mb-0">삐-약은 풍부한 제약정보를 제공합니다</p>
          <p class="lead mb-0">이름 하나로 약에 대한 모든 정보를 들려드릴게요</p>
          &nbsp
          <button type="button" class="btn btn-block btn-lg btn-primary" onClick="location.href='../search-name'" >검색하기!</button>
        </div>
      </div>
    </div>
  </section>


  <!-- developers -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">삐-약 서비스를 위해 노력한 사람들</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src='{% static "img/rabbit.png" %}' alt="">
            <h5>Hyejung Kang</h5>
            <i class="icon-envelope m-auto text-primary"></i>
            <p class="font-weight-light mb-0">khjtwt@gmail.com</p>
            <p>"혜정쓰의 한마디"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src='{% static "img/penguin.png" %}' alt="">
            <h5>Gyeongseo Kim</h5>
            <i class="icon-envelope m-auto text-primary"></i>
            <p class="font-weight-light mb-0">rlarodtl@naver.com</p>
            <p>"경서쓰의 한마디"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src='{% static "img/bear.png" %}' alt="">
            <h5>Minhae Kim</h5>
            <i class="icon-envelope m-auto text-primary"></i>
            <p class="font-weight-light mb-0">tgtgtg8892@gmail.com</p>
            <p>"민혜쓰의 한마디"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}